<div class="mainpage">
  <app-questions-form></app-questions-form>
  <app-fast-test></app-fast-test>
  <app-phq></app-phq>
  <app-guide></app-guide>
  <app-emotion-base></app-emotion-base>
  <app-appointment></app-appointment>
</div>
