.mainpage {
  text-align: center;
}

.appointment {
  position: relative;
  background-color: #6888FF;
  height: 400px;

  &__content {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}
