.navbar {
  height: 60px;
}

.links-cont {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link-cont {
  display: block;
  margin: 0 10px;
}

.link {
  color: #697CA6;
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  padding: 0 2px;
  &:hover {
    color: #0000c9;
  }
}

.btn {
  margin: 0 10px;
  width: 113px;
  height: 40px;
  font-size: 16px;
  background: #D2E1FF;
  border-radius: 2px;
  border: none;
  color: #697CA6;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: rgb(0,0,201);
  }
}
