<nav class="navbar">
  <ul class="links-cont">
    <li class="link-cont" *ngIf="email">
      <a
        class="link"
        (click)="questionsService?.onResetClick()"
        href="#"
      >Your Leading Emotion Test</a>
    </li>
    <li class="link-cont" *ngIf="isLoggedIN">
      <a class="link" href="#fast-test">FAST TEST</a>
    </li>
    <li class="link-cont" *ngIf="isLoggedIN">
      <a class="link" href="#questionnaries">Questionnaries</a>
    </li>
    <li class="link-cont" *ngIf="isLoggedIN">
      <a class="link" href="#guide">If you feel bad guide</a>
    </li>
    <li class="link-cont" *ngIf="isLoggedIN">
      <a class="link" href="#emotion-base">Emotion base</a>
    </li>
    <li class="link-cont" *ngIf="isLoggedIN">
      <a class="link" href="#appoitment">Appointment to PSY</a>
    </li>
    <li class="link-cont">
      <button class="btn" routerLink="/login" *ngIf="!email; else logout">LOGIN</button>
      <ng-template #logout>
        <button class="btn" (click)="logOut()">LOGOUT</button>
      </ng-template>
    </li>
  </ul>
</nav>


