<header class="header" id="header">
  <app-navbar></app-navbar>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  EPAM [RD] Global Project Education Competition 2021 - Violet Team
</footer>
