.header {
  top: 0;
  left: 0;
  width: 100%;
  position: sticky;
  height: 60px;
  min-width: 1160px;
  background-color: white;
  color: white;
  z-index: 5;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: white;
  color: #697CA6;
  display: flex;
  justify-content: center;
  align-items: center;
}




