.guide-section {
  background: linear-gradient(180deg, #B6E8DC 0%, rgba(135, 208, 250, 0.21) 100%);
  color: #3D4F9F;
  padding-top: 60px;
}

.header-h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  text-align: center;
}

.guide-img {
  height: 70vh;
  padding: 60px 0 100px;
}
