.no-user {
  text-align: center;
  background: linear-gradient(180deg, #E6FFBE 0%, #E2F8A3 100%);
  min-height: 80vh;
  color: #3D4F9F;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.violet {
  color: violet;
  font-weight: bold;
}
