<div class="no-user">
  <h1>
    <span class="violet">Violet Team</span> is glad to see you at our final project!
  </h1>
  <h3>
    Our App works only for authorised users. Feel free to login or register to go further.
  </h3>
  <h4>Our App has such features:</h4>
  <ul>
    <li>
      Leading emotions test
    </li>
    <li>
      Fast emotions test (in next sptints with history recording)
    </li>
    <li>
      PHQ-9 deprression test
    </li>
    <li>
      Guide if you feel bad (feature for next sprint)
    </li>
    <li>
      Emotion base (feature for next sprint)
    </li>
    <li>
      Get appointment to PSYCHOTHERAPIST (feature for next sprint)
    </li>
  </ul>
</div>
