<section class="form-container" id="leading-emotions-test">
  <h2 class="header-h2">Your <strong>leading emotion</strong> test</h2>
  <app-question
    *ngFor="let question of questions; let idx = index"
    [question] = "question"
    [qIndex] = "idx"
    (answerClickEmitter)="questionsService.onAnswerClick($event)"
    class=""
  ></app-question>
  <div class="btn-cont">
    <button
      class="btn"
      (click)="questionsService.onResultsClick()"
      [disabled]="!formComplete"
    >
      See results
    </button>
    <button
      class="btn"
      (click)="onResetClick()"
    >
      Reset answers
    </button>
  </div>
  <app-questions-form-result *ngIf="questionsService.needResults"></app-questions-form-result>
</section>

