.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 80vh;
  padding: 40px 0 20px;
  background-color:  #F5F8FF;;
}

.header-h2 {
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  color: #3D4F9F;
}

.btn-cont {
  display: flex;
  justify-content: center;
}

.btn {
  width: 113px;
  height: 40px;
  background: #54D9F7;
  border-radius: 2px;
  font-size: 16px;
  line-height: 16px;
  color: #2F3D7B;
  margin: 15px auto;
  display: block;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  border: none;
  &:hover {
    color: white;
    background-color: rgb(0,0,201);
  }
}
