<section class="fast-test" id="fast-test">
  <div class="fast-test-container">
    <p class="small">Fast test</p>
    <h2 class="header-h2">
      What do you <strong>feel now?</strong>
      </h2>
      <div class="emojis">
        <div
          class="emoji"
          *ngFor="let emoji of emojis"
          (click)="fastTestsService.onClick(emoji)"
          [ngClass]="{'emoji-chosen': emoji.chosen}"
        >
          <div class="emoji-smile">{{emoji.emojiLink}}</div>
          <div class="emoji-title">{{emoji.emojiTitle}}</div>
        </div>
      </div>
    <h2 class="header-h2">
      What are you <strong>doing now?</strong>
    </h2>
    <input class="text-input" value="{{inputVal}}">
    <button class="btn" type="button" (click)="submitTest()" [disabled]="fastTestsService.checkIfSubmitEnabled()">Submit</button>
  </div>
  <div class="fast-test-results">
    <h2 class="header-h2">
      Your <strong>statistic</strong>
    </h2>
    <div class="res-cont" *ngIf="fastTestsService.getAmountOfAnswers() > 4; else NotEnough">
      <div class="res-col" *ngFor="let res of results">
        <p>{{res.score}}</p>
        <div class="histo-cont">
          <div
            class="histo"
            [ngStyle]="{height: res.width+'%'}"
            [ngClass]="res.emotion"
          ></div>
        </div>
        <p>{{res.emotion}}</p>
      </div>

    </div>
    <ng-template #NotEnough>
      <div class="not-enough">
        We need to calculate some more data at the moment - we need at least 5 answers, while you answered
        {{fastTestsService.getAmountOfAnswers()}}
        at the moment.
      </div>
    </ng-template>
  </div>
</section>

