.fast-test-container {
  padding: 20px 0;
  text-align: center;
  background: linear-gradient(180deg, #E6FFBE 0%, #E2F8A3 100%);
  color: #3D4F9F;
}

.small {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}

.header-h2 {
  margin: 20px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  text-align: center;
  color: #3D4F9F;
}

.emojis {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  width: 95%;
  margin: 0 auto;
  max-height: 60vh;
  background-image: url("../../../../assets/images/emotions.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55vh;
}

.emoji {
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 200px;
  height: 14vh;
  align-items: center;
  &:hover {
    border-color: #2F3D7B;
  }
}

.emoji-smile {
  font-size: 40px;
}

.emoji-title {
  font-size: 20px;
  color: #2F3D7B;
}

.emoji-chosen {
  border-color: #2F3D7B;
  background-color: lightgreen;
}

.btn {
  width: 113px;
  height: 40px;
  background: #54D9F7;
  border-radius: 2px;
  font-size: 14px;
  line-height: 16px;
  color: #2F3D7B;
  margin: 15px auto 0;
  display: block;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  border: none;
  &:hover {
    color: white;
    background-color: rgb(0,0,201);
  }

  &:disabled {
    opacity: 0.6;

    &:hover {
      color: #2F3D7B;
      background-color: #54D9F7;
    }
  }
}

.text-input {
  width: 350px;
}

.fast-test-results {
  padding: 20px 0 30px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.res-cont {
  display: flex;
  height: 45vh;
  justify-content: space-evenly;
  align-items: flex-end;
}

.not-enough {
  color: #2F3D7B;
}

.res-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  p {
    color: #2F3D7B;
    font-weight: bold;
    font-size: 20px;
  }
}

.histo-cont {
  height: 35vh;
  display: flex;
  align-items: flex-end;
}

.histo {
  width: 30px;
}

.Joy {
  background-color: #ffe953;
}

.Anger {
  background-color: #d50000;
}

.Fear {
  background-color: #009700;
}

.Disgust {
  background-color: #df00df;
}

.Sadness {
  background-color: #0000c9;
}

.Surprise {
  background-color: #008ae1;
}

.Trust {
  background-color: #53ff53;
}

.Anticipation {
  background-color: #ff7e00;
}

