.emotion-base-section {
  min-height: 90vh;
  background: linear-gradient(180deg, #FFCEA0 0%, rgba(215, 247, 125, 0.465104) 99.99%, rgba(135, 208, 250, 0.21) 100%);
  color: #3D4F9F;
  padding: 60px 0 70px;
}

.header-h2 {
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  text-align: center;
}

.emotion-img {
  width: 50%;
  display: block;
  margin: 40px auto;
}
