<section class="emotion-base-section" id="emotion-base">
  <h2 class="header-h2">
     <strong>Emotion</strong> base
  </h2>
  <img src="assets/images/base-top.png" alt="emotions1" class="emotion-img">
  <img src="assets/images/base-bot.png" alt="emotions2" class="emotion-img">
</section>
