<div class="form-container">
  <form class="form" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
    <h2 class="form__header">Sign <span class="form-header__highlighted-text">Up</span></h2>
    <div class="form__survey">
      <div class="form__input-container">
        <label class="form__input-label" for="username">Username</label>
        <input id="username" class="form__input-field" type="text" name="username" ngModel required>
      </div>
      <div class="form__input-container">
        <label class="form__input-label" for="username">Email</label>
        <input id="email" class="form__input-field" type="email" name="email"
               pattern="^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$"
               ngModel required>
      </div>
      <div class="form__input-container">
        <label class="form__input-label" for="password">Password</label>
        <input id="password" class="form__input-field" type="password" name="password" ngModel required>
      </div>
    </div>
    <button class="form__btn" type="submit" [disabled]="!myForm.valid">Sign Up</button>
  </form>
</div>
<div *ngIf="signupFailed"  class="error-message">
  Sign up failed
</div>
