/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/fonts';

* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 1160px;
}
