.appointment {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  color: white;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-evenly;
  position: relative;
}

.appointment__secondary-header {
  font-size: 12px;
  font-weight: normal;
}

.appointment__main-header {
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  padding: 25px 0 30px;
}

.appointment__details {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
}

.appointment__btn {
  width: 113px;
  height: 40px;
  background: #54D9F7;
  border-radius: 2px;
  font-size: 16px;
  line-height: 16px;
  color: white;
  margin: 40px auto 0;
  display: block;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  border: none;
  &:hover {
    color: white;
    background-color: rgb(0,0,201);
  }
}

.appointment__inputs {
  display: flex;
  justify-content: center;
}

.appointment__input {
  width: 120px;
  height: 30px;
  margin: 0 30px;
}

.hidden-cont {
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 75px;
}

.appointment__hidden-message {
  margin: 15px auto;
  width: 450px;
  height: 20px;
  background-color: green;
}
