<section class="appointment" id="appoitment">
  <h4 class="appointment__secondary-header">OUR PSYCHOTHERAPIST HELPS TO COPE</h4>
  <h2 class="appointment__main-header">Get <strong>appointment</strong> now</h2>
  <div class="hidden-cont" *ngIf="showThanks">
    <div class="appointment__hidden-message">
      Thank you! We are waiting for you on <strong>{{date}}</strong>  at <strong>{{time}}</strong>
    </div>
  </div>
  <p class="appointment__details">Please choose date and time to visit our PSYCHOTHERAPIST</p>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="appointment__inputs">
      <input type="date" class="appointment__input" formControlName="date">
      <input type="time" class="appointment__input" formControlName="time">
    </div>
    <button class="appointment__btn">Submit</button>
  </form>
</section>
