<div class="form-container">
  <form class="form" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
    <h2 class="form__header">Log <span class="form-header__highlighted-text">In</span></h2>
    <div class="form__survey">
      <div class="form__input-container">
        <label class="form__input-label" for="email">Email</label>
        <input id="email" class="form__input-field" type="email" name="email" ngModel required>
      </div>
      <div class="form__input-container">
        <label class="form__input-label" for="password">Password</label>
        <input id="password" class="form__input-field" type="password" name="password" ngModel required>
      </div>
    </div>
    <button class="form__btn" type="submit" [disabled]="!myForm.valid">Sign In</button>
  </form>
  <p>Don't have an account yet? <a class="signup-link" routerLink="/register">Register now</a></p>
</div>
<div *ngIf="loginFailed" class="error-message">
  Log in failed
</div>
