<div class="results">
  <h2>
    Here is your leading emotions map
  </h2>
  <div
    class="result"
    *ngFor="let res of points"
  >
    <h3>{{res[0] | titlecase}}: {{res[1] | number: '1.0-1'}}%</h3>
    <div class="histo-container">
      <p
        [ngStyle]="{width: res[1]+'%'}"
        [ngClass]="res[0]"
        class="result-histo"
      ></p>
    </div>
  </div>
  <div class="btn-cont">
    <button
      class="btn"
      (click)="questionsService.onResetClick()"
    >
      Retake questions
    </button>
  </div>
</div>

