.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  color: #3D4F9F;
  h2 {
    padding: 20px 0;
  }
}

.result {
  padding: 5px;
  margin: 2px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border: 1px solid black;
  h3 {
    padding: 0;
    margin: 2px 0;
    width: 20%;
    text-align: left;
  }
}

.histo-container {
  width: 80%;
  .result-histo {
    height: 100%;
  }
}

.TRUST {
  background-color: lightgreen;
}

.ANGER {
  background-color: darkred;
}

.FEAR {
  background-color: purple;
}

.JOY {
  background-color: yellow;
}

.SADNESS {
  background-color: grey;
}

.SURPRISE {
  background-color: cadetblue;
}

.DISGUST{
  background-color: coral;
}

.ANTICIPATION{
  background-color: #b950ff;
}

.btn-cont {
  display: flex;
  justify-content: center;
}

.btn {
  width: 113px;
  height: 40px;
  background: #54D9F7;
  border-radius: 2px;
  font-size: 14px;
  line-height: 16px;
  color: #2F3D7B;
  margin: 15px auto;
  display: block;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  border: none;
  &:hover {
    color: white;
    background-color: rgb(0,0,201);
  }
}
