.question {
  width: 90%;
  margin: 20px auto;
  color: #3D4F9F;
  font-size: 20px;
}

.form-answer {
  min-height: 25px;
  border: 1px solid #3D4F9F;
  cursor: pointer;
  margin: 10px auto;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: justify;
  border-radius: 5px;
  background-color:  #F5F8FF;
  color: #3D4F9F;
  font-weight: 600;
  width: 50%;
  &:hover {
    border-color: green;
    background-color: rgba(0,151,0, 0.3);
  }
}

.form-answer:disabled {
  background-color: rgba(128, 128, 128, 0.3);
  color: #3D4F9F;
  cursor: default;
}

.form-answer-selected

h2 {
  text-align: center;
}
