<div class="question">
  <h4>{{qIndex+1}}. {{question?.text}}</h4>
  <button
    *ngFor="let answer of question?.answers; let idx = index"
    (click)="onAnswerClick(answer)"
    class="form-answer"
    appChosen
    [disabled]="disabled"
  >
    {{idx+1}}) {{answer.text}}
  </button>
</div>

