.error-message {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 250px;
  height: 80px;
  border: 1px solid red;
  background-color: #ffa0a0;
  font-size: 18px;
  text-align: center;
  line-height: 80px;
}
