@font-face {
  font-family: 'Quicksand';
  src: url('../../assets/fonts/quicksand-v24-latin-regular.woff2') format('woff2'),
  url('../../assets/fonts/quicksand-v24-latin-regular.woff') format('woff')
}
