.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.form {
  width: 360px;
  border: solid #d0d0d0 1px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px 10px 10px;

  &__header {
    text-align: center;
    color: grey;
    margin: 5px 0 8px;
  }

  &-header__highlighted-text {
    color: black;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
  }

  &__input-label {
    margin: 10px 0 2px;
  }

  &__input-field {
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 16px;

    &:focus {
      outline: 1px solid #6868ff;
    }
  }

  &__btn {
    width: 100%;
    height: 36px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    background-color: #6868ff;
    color: white;
    font-size: 16px;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.7;
      cursor: default;
    }
  }
}

.signup-link {
  &:active {
    color: blue;
  }

  &:visited {
    color: blue;
  }
}

@media screen and (max-width: 360px) {
  .form {
    width: 95%;
  }
}
