<section class="phq-container" id="questionnaries">
  <div class="phq-test">
    <h2 class="header-h2">
      Important <strong>questionnaires</strong>
    </h2>
    <p class="small">Objectifies degree of depression severity.</p>
    <h3 class="phq-title">PHQ-9 (Patient Health Questionnaire-9)  </h3>
    <div class="test-cont" *ngIf="showTest; else retake" >
      <div class="phq-questions" *ngFor="let question of phqQuestions">
        <div class="question" *ngIf="question.show">
          <h4 class="question-text">{{question.number}}. {{question.text}}</h4>
          <div class="phq-answers">
            <div class="phq-answer" *ngFor="let answer of question.answers">
              <h5 class="phq-answer-text" (click)="answerClicked(answer, question)">{{answer.text}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #retake class="thanks-cont">
      <div class="thanks-cont">
        <h3>Thank you! Please check your result below!</h3>
        <p>Also you can retake this test</p>
        <button class="btn" (click)="retakeTest()">Retake PHQ-9</button>
      </div>
    </ng-template>
  </div>
  <div class="phq-result">
    <div *ngIf="showTest">
      Please answer all 9 questions to see your result!
    </div>
    <div class="result" *ngIf="!showTest">
      <h3>
        Your final points: {{testResults}}
        <p class="guide">{{guide}}</p>
      </h3>
    </div>
  </div>
</section>
