.phq-container {
  background: linear-gradient(180deg, #F7FA87 0%, rgba(135, 250, 154, 0.21) 100%);
  padding: 70px 0;
  color: #3D4F9F;
  h3 {
    font-size: 22px;
  }
}

.header-h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.phq-title {
  margin: 15px 0;
}

.test-cont {
  margin: 15px 0;
  height: 40vh;
}

.phq-questions {
  margin-top: 15px;
}

.question {
  font-weight: bold;
  font-size: 16px;
  width: 50%;
  margin: 0 auto;
}

.question-text {
  text-align: center;
  height: 10vh;
  h4 {
    font-size: 20px;
  }
}

.phq-answer-text {
  height: 25px;
  border: 1px solid #3D4F9F;
  cursor: pointer;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 16px;
  &:hover {
    border-color: green;
    background-color: rgba(0,151,0, 0.3);
  }
}

.result {
  h3 {
    font-size: 20px;
  }
}

.guide {
  width: 60%;
  margin: 0 auto;
  text-align: justify;
  font-size: 18px;
}

.thanks-cont {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 18px;
}

.btn {
  width: 113px;
  height: 40px;
  background: #54D9F7;
  border-radius: 2px;
  font-size: 16px;
  line-height: 16px;
  color: #2F3D7B;
  margin: 15px auto;
  display: block;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  border: none;
  &:hover {
    color: white;
    background-color: rgb(0,0,201);
  }
}
